.jumbotron {
    background-image: url(../img/pizza.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 346px;
}

@media screen and (max-width: 992px) {
    .zip-input {
        max-width: 25%;
    }
}