:root {
    --primary: #0b2237
}
h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
    text-decoration: underline;
}

hr {
    height: 2px;
    background-color: #41617c;
    border: none;
}

body {
    background: #E6F1FA url("/img/veridian.png") no-repeat;
    background-position-x: right;
    background-position-y: 165px;
    font-family: "Trirong", serif;
}

ol { list-style: upper-roman; }
ul { list-style: square; }


#product {
    border-collapse: collapse;
    width: 100%;
}

#product td, #product th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

#product tr:nth-child(odd){
    /*background-color: #fff;*/
}

#product tr:hover {
    background-color: #ddd;
}

#product th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary);
    color: white;
}


/* unvisited link (:link) */
a:link {
    color:#00668a;
}

/* visited link (:visited) */
a:visited {
    color:dimgrey;
}

/* mouse hover over link (:hover) */
a:hover {
    color:#006ec8;
}

/* active/selected link (:active) */
a:active {
    color:green;
}

#subtitle {
    color: #D3D3D3;
}

img {
    border-radius: 25%;
    box-shadow: 10px 10px var(--primary); /*#343a40;*/
    padding: 10px;
    margin: 15px;
    width: 30%;
    height: 30%;
    border: thin solid var(--primary); /*#343a40;*/
}

#top {
    background-color: var(--primary);
    text-align: center;
}

.top-color {
    color: #D3D3D3;
}